:javascript
  $(document).ready(function() {
    $("#mytags").tagit({
      tagSource: function(search, showChoices) {
        var that = this;
        $.ajax({
          url: "/tags/autocomplete.json",
          data: {q: search.term},
          success: function(choices) {
            showChoices(that._subtractArray(choices, that.assignedTags()));
          }
        });
      },
      show_tag_url: "#{tags_path}/",
      singleField: true,
      singleFieldNode: $('#submit_tag_names')
    });
  });
#tag_form
  %h1 Select tags and submit form
  = form_for @submit do |f|
    = f.hidden_field :tag_names, :value => @tags.join(',')
    %ul#mytags
    = f.submit 'Submit'
  
  