// Place all the styles related to the tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_form {
  margin: 200px auto;
  width: 600px;
  text-align: center;
  font-size: 12px;
  
  label {
    text-align: center;
  }
}